.idea
.vscode
node_modules
dist
out
.DS_Store
*.log*
.aider*
!.aider-desk
.aider-desk/tasks
.aider-desk/todos.json
.aider-desk/tmp
.junie*
.env
tsconfig.*.tsbuildinfo
.taskmaster

# uv binaries
resources/*/uv*
resources/*/probe*

dev-app-update.yml

# release scripts
release-win.sh
release-linux.sh
start-docker.sh

./session-*.md
.claude-trace
repomix-output.txt
.eslintcache
ai-docs
